@import "bootstrap-theme";
@import "../../../node_modules/bootstrap/scss/bootstrap";

.anansi-clickable {
  cursor: pointer;
}

.anansi-raw-data {
  white-space: pre;
}

.anansi-alert-sm {
  font-size: 0.875rem;
  padding: 4px 8px;
}